
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastrar Palavra</h2>

<form method="post">
    <div class="form-group">
        <label for="nome">Palavra</label>
        <input type="text" class="form-control" value="@Model.Nome" name="nome" id="nome" placeholder="Digite a palavra">
        @Html.ValidationMessage("nome")
    </div>
    <div class="form-group">
        <label for="nivel">Nível</label>
        <input type="text" class="form-control" value="@Model.Nivel" name="nivel" id="nivel" placeholder="Digite o nível: 1- Fácil, 2- Médio, 3- Difícil">
        @Html.ValidationMessage("nivel")
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>